.genres-page-container {
    font-family: rubik;
    //border: 1px solid red;
}


.genres-page-container h3 {
    color: #191414;
    font-size: rem(28px);
    font-weight: lighter;
    line-height: rem(33px);
    position: relative;
    left: rem(115px);
    top: rem(10px);
}
