.nav-bar-container {
    background-color: #fff;
    width: 100%;
    max-width: 20vw;
    height: 100vh;
    position: relative;
}

.logo {
    max-width: rem(109px);
    max-height: rem(60px);
    position: absolute;
    top: rem(49px);
    left: rem(55px);
}

.nav-bar-list {
    position: absolute;
    top: rem(110px);
    width: 100%;
}

.nav-bar-list >* {
    margin-top: rem(37px);
    margin-left: rem(26px);
}

.nav-bar-item {
    width: 100%;
    max-width: rem(180px);
    height: rem(55px);
    font-family: rubik;
    font-size: rem(18px);
    line-height: rem(21.33px);
    padding-left: rem(30px);
    padding-top: rem(16px);
    cursor: pointer;
    position: relative;
    transition: 0.5s;
}

.nav-bar-item:hover {
    border-radius: rem(10px);
    background-color: #DDF5E5;
}


.nav-bar-item img {
    max-width: rem(20.18px);
    max-height: rem(21.6px);
}

.nav-bar-item span {
    position: absolute;
    left: rem(70px);
    text-decoration: none;
    color: black;
}

.selected {
    border-radius: rem(10px);
    background-color: #DDF5E5;
}


@include for-mobile-layout {
    .nav-bar-container {
        background-color: #fff;
        width: 100%;
        max-width: 41vw;
        height: 100vh;
        position: relative;
    }
    
    .nav-bar-item{
        font-size: rem(14px);
        right: rem(50px);
        width: 100%;
        max-width: rem(140px);
        height: rem(55px);
        left: rem(-7px);
    }

    .nav-bar-item span {
        position: relative;
        left: rem(12px);
    }
    

    .logo {
        max-width: rem(109px);
        max-height: rem(60px);
        position: absolute;
        top: rem(40px);
        left: 20%;
    }

}