@font-face {
    font-family: spartan;
    src: url(../fonts/spartan/Spartan-Regular.ttf);
}


@font-face {
    font-family: spartan-light;
    src: url(../fonts/spartan/Spartan-Light.ttf);
}

@font-face {
    font-family: spartan-bold;
    src: url(../fonts/spartan/Spartan-Bold.ttf);
}

@font-face {
    font-family: spartan-semiBold;
    src: url(../fonts/spartan/Spartan-SemiBold.ttf);
}